* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #e8df8d;
    display: flex;
    /* flex-wrap: wrap; */
}
body a {
    text-decoration: none;
    color: #000;

}
.for-form {
    display: block;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

form {
    width: 250px;
    height: 100%;
    padding: 10px;
    border-right: 2px solid gray;
    position: fixed;
}
form p {
    margin: 2px 0;
}
form input, textarea {
    background-color: transparent;
}
form p:last-child {
    display: flex;
    justify-content: flex-end;
}
button {
    background-color: #cebb0f;
}
.wrapper {
    display: flex;
    justify-content: space-evenly;
}

.container_for_item {
    width: 80%;
   
    position: absolute;
    right: 0;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_for_item h1 {
    text-align: center;
    margin: 5px 0;
    border-bottom: 2px solid gray;
    width: 80%;
}

.for-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: khaki;
    width: 250px;
    height: 100%;
    border: 2px solid gray;
    text-align: center;
    padding: 10px;
    margin: 3px;

    transition: all .300s ease;
}
.item:hover {
    cursor: pointer;
    transform: scale(1.01);
}
.item.marked,
.book_detail.marked {
    background-color: #f3e142;
    border: 2px solid gray;
}
.item-desc {
    text-align: left;
    font-size: 14px;
}
.item-footer {
    text-align: left;
    font-size: 14px;

}
.item-footer span {
    font-weight: bold;
}
.date {
    margin-right: 5px;
    margin-bottom: 3px;
    text-align: right;
    font-size: 14px;
}

.action_buttons {
    display: flex;
    justify-content: flex-end;
}

.action_buttons img {
    width: 25px;
    height: 25px;
}

/* for book details */

.book_box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.book_detail {
    width: 70%;
}

.book_detail a button {
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
     .for-item {
        justify-content: center;
     }
}
@media screen and (max-width: 1075px) {
    body {
        display: block;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: static;
        width: auto;
        border: 2px solid gray;
    }
    h3 {
        width: 100%;
        text-align: center;
    }
    form input {
        margin: 0 10px;
    }
    form p:nth-child(5) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    textarea {
        max-width: 400px;
        height: 100px;
    }
    .container_for_item {
        position: static;
        width: 100%;
    }
}
@media screen and (max-width: 434px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        width: auto;
        border: 2px solid gray;
    }
    form p:nth-child(5) {
        width: 197px;
        display: block;
    }
}