{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="{% static 'styles/styles-books.css' %}">
</head>
<body>
    <div class="item">
        <div class="item-for-img">

        </div>
        <div class="item-for-title">

        </div>
        <div class="item-for-desc">

        </div>
        <div class="item-for-genre">

        </div>
        <div class="item-for-author">

        </div>
        <div class="item-for-year">

        </div>

        <div class="item-for-price">

        </div>
    </div>
</body>
</html>