{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="{% static 'styles/styles-books.css' %}">
</head>

<body style="flex-wrap: wrap;">

        <form action="{% url 'add-book' %}" method="POST">
            <h3>Добавить книгу</h3>
            {% csrf_token %}
            <p><span>Заголовок: </span><br><input type="text" name="book-title"></p>
            <p><span>Подзаголовок: </span><br><input type="text" name="book-subtitle"></p>
            <p><span>Описание: </span><br><textarea name="book-des" cols="30" rows="10"></textarea></p>
            <p><span>Жанр: </span><br><input type="text" name="book-genre"></p>
            <p><span>Автор: </span><br><input type="text" name="book-author"></p>
            <p><span>Год выхода книги: </span><br><input type="text" name="book-year"></p>
            <p><span>Цена: </span><br><input type="text" name="book-price"></p>
            <p><button>Добавить</button></p>
        </form>


        {% for book in books %}
        <div class="item">
            <div class="item-title">
                <h3>{{ book.title }}</h3>
            </div>
            <div class="item-desc">
                <p>{{ book.description }}</p>
            </div>
            <div class="item-footer">
                <span>Автор: </span>{{ book.author }}<br>
                <span>Жанр: </span>{{ book.genre }}<br>
                <span>Год выпуска: </span>{{ book.year }}<br>
            </div>
            <p class="date">Добавлено: <span>{{ book.date }}</span></p>
            <div class="action_buttons">
                {% if book.is_favorite %}
                    <a href="{% url 'unmark-book' book.id %}"><img src="{% static 'icons/marked.png' %}"></a>
                {% else %}
                    <a href="{% url 'mark-book' book.id %}"><img src="{% static 'icons/unmarked.png' %}"></a>
                {% endif %}
                <a href="{% url 'delete-book' book.id %}"><img src="{% static 'icons/delete.png' %}"></a>
            </div>
        </div>
        {% endfor %}

</body>

</html>